<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pencarian Video</title>
    <style>
        #vidioList {
            display: none;
        }

        #noVideoMessage {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Pencarian Video</h1>
    <form id="videoForm">
        <label for="textInput">Masukkan kata:</label>
        <input type="text" id="textInput" name="textInput" required>
        <button type="button" onclick="searchVideo()">Cari</button>
    </form>

    <div id="result">
        <h2>Hasil:</h2>
        <p id="resultText"></p>
        <div id="videoContainer">
            <video id="vidioList" width="100%" height="400px" autoplay controls onended="playNextVideo()" muted>
                Your browser does not support the video tag.
            </video>
            <div id="loading" style="display: none;">Loading...</div>
            <div id="noVideoMessage" class="text-center" style="margin-top: 25%;">
                <img src="{{ url_for('static', filename='img/icons8-stremio.gif') }}">
                <p style="font-weight: 600; font-size: 12px;">Data speech belum ada. Ucapan kalimat lain</p>
            </div>
            <div id="vidio-play" class="text-center" style="margin-top: 28%;">
                <img src="{{ url_for('static', filename='img/icons8-oculus.gif') }}">
                <p style="font-weight: 600; font-size: 12px;">Belum ada video yang dijalankan</p>
            </div>
        </div>
    </div>

    <script>
        let currentVideoIndex = 0;
        let videoListData = [];
    
        function searchVideo() {
            const inputText = document.getElementById('textInput').value;
            const videoContainer = document.getElementById('videoContainer');
            videoContainer.innerHTML = '';
    
            fetch('/process_input', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'input_text': inputText }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('resultText').innerText = data.result;
    
                if (data.videoList.length > 0) {
                    currentVideoIndex = 0;
                    videoListData = data.videoList;
    
                    playNextVideo();
                    document.getElementById('vidioList').style.display = 'block';
                    document.getElementById('noVideoMessage').style.display = 'none';
                } else {
                    document.getElementById('vidioList').style.display = 'none';
                    document.getElementById('noVideoMessage').style.display = 'block';
                }
            })
            .catch(error => console.error('Error:', error));
        }
    
        function playNextVideo() {
            const videoContainer = document.getElementById('videoContainer');
    
            if (currentVideoIndex < videoListData.length) {
                const video = document.createElement('video');
                video.setAttribute('width', '320');
                video.setAttribute('height', '240');
                video.setAttribute('controls', 'controls');
                video.setAttribute('autoplay', 'autoplay');
    
                const source = document.createElement('source');
                const videoName = videoListData[currentVideoIndex].video_name;
    
                // Check if video name is available
                if (videoName) {
                    source.setAttribute('src', `/static/video/${videoName}.mp4`);
                    source.setAttribute('type', 'video/mp4');
    
                    video.appendChild(source);
                    videoContainer.innerHTML = '';
                    videoContainer.appendChild(video);
    
                    currentVideoIndex++;
    
                    video.addEventListener('ended', function () {
                        if (currentVideoIndex < videoListData.length) {
                            playNextVideo();
                        } else {
                            video.pause();
                            video.currentTime = 0;
                            videoContainer.innerHTML = '';
                            
                            // Update message after last video
                            document.getElementById('vidioList').style.display = 'none';
                            document.getElementById('noVideoMessage').style.display = 'block';
                        }
                    });
    
                    video.play();
                } else {
                    // Display message if video name is not available
                    document.getElementById('vidioList').style.display = 'none';
                    document.getElementById('noVideoMessage').style.display = 'block';
                }
            }
        }
    
        function clearData() {
            document.getElementById('resultText').innerText = '';
            document.getElementById('videoContainer').innerHTML = '';
            document.getElementById('vidioList').style.display = 'none';
            document.getElementById('noVideoMessage').style.display = 'none';
        }
    </script>
    
</body>
</html>
