{% extends 'dashboard/app/base.html' %}

{% block content %}

{% if 'islogin' in session %}
{% if session['level'] == 'Admin' %}
<div class="row">
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Pengguna</p>
              <h5 class="font-weight-bolder">
                {{count_users}}
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
              <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Admin</p>
              <h5 class="font-weight-bolder">
                {{count_admin}}
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
              <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-12 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Artikel</p>
              <h5 class="font-weight-bolder">
                {{count_artikel}}
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
              <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}

<div class="row mt-4">
  {% if 'islogin' in session %}
  {% if session['level'] == 'Admin' %}
  <div class="col-lg-7 mb-lg-0 mb-4">
    <div class="card z-index-2 h-100">
      <div class="card-body p-3">
        <div>
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col-lg mb-lg-0 mb-4">
    <div class="card z-index-2">
      <div class="card-body p-3">
        <div class="row p-2">
          <div class="col-lg py-4">
            <p style="font-size: 24px;">Halo, <span style="font-weight: 800;">{{ session['username'] }}</span>
            <p style="text-align: justify; font-size: 14px;">Selamat datang di RuangInklusi! Platform komunikasi khusus untuk siswa tuna rungu dan tuna wicara. Manfaatkan teknologi Speech-to-Text dan Speech-to-Sign Language untuk pengalaman pembelajaran yang inklusif. Jelajahi dashboard pengguna untuk memulai perjalanan pembelajaran yang mendalam.</p>
          </div>
          <div class="col-lg">
            <img src="{{ url_for('static', filename='img/Teaching-rafiki.svg') }}" style="width: 400px; height: 300px;" class="card-img-top img-fluid"
              alt="Image">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
</div>

<!-- <div class="row mt-3">
  <div class="col-lg-6 mb-lg-0 mb-4">
    <div class="card z-index-2 h-20">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for data in data %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="{{ url_for('static', filename='images/artikel/' + data.image) }}" class="card-img-top"
              width="100%" height="250px" style="object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 650;">{{data.title}}</h5>
              <a href="/{{data.slug}}" class="btn btn-primary mt-2">Baca Selengkapnya</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div> -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  fetch('/data')
    .then(response => response.json())
    .then(data => {
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: data.labels,
          datasets: [{
            label: 'Jumlah Pengguna',
            data: data.values,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });
</script>

{% endblock %}