{% extends 'dashboard/app/base-speech.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="card mb-4">
        <div class="card-body px-0 pt-0" style="height: 450px;">
          <img src="{{ url_for('video_feed') }}" width="100%" height="450px"
            style="border-radius: 15px; object-fit: cover;">
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-9 d-flex align-items-center">
              <p class="mb-0" style="font-size: 15px;" id="speechStatus">Klik pada icon "Start" untuk mulai berbicara
              </p>
            </div>
            <div class="col-3 text-end">
              <button id="toggleButton" onclick="toggleRecognition()" class="btn btn-primary">Start</button>
            </div>
            <hr class="horizontal dark mt-0">
          </div>
        </div>
        <div class="card-body px-4 pt-0" id="scroll" style="height: 350px; overflow: auto; ">
            <p style="font-size: 25px; font-weight: 900;" id="result"></p>
        </div>
      </div>
      <a id="acceptButton" class="btn btn-lg btn-primary">Keluar</a>
    </div>
  </div>
</div>

<script>
  function showSweetAlert() {
    Swal.fire({
      title: "Are you sure?",
      text: "Akan keluar dari ruang speech ini!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes"
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/dashboard';
      }
    });
  }
  document.getElementById('acceptButton').addEventListener('click', function () {
    showSweetAlert();
  });
</script>

<script>
  if (!("webkitSpeechRecognition" in window)) {
    alert("Speech Recognition Not Available");
  }

  let SpeechRecognition =
    window.SpeechRecognition || window.webkitSpeechRecognition;
  let SpeechGrammarList =
    window.SpeechGrammarList || window.webkitSpeechGrammarList;
  let SpeechRecognitionEvent =
    window.SpeechRecognitionEvent || window.webkitSpeechRecognitionEvent;

  let recognition = new SpeechRecognition();
  recognition.continuous = true;
  recognition.lang = "id";
  recognition.interimResults = true;

  recognition.onerror = (event) => {
    console.error('Speech recognition error:', event.error);
  };

  recognition.onstart = () => {
    document.querySelector("#speechStatus").textContent = "Mulai Bicara sekarang!";
  };

  recognition.onstop = () => {
    document.querySelector("#speechStatus").textContent = "Klik pada icon 'Start' untuk mulai berbicara";
  };


  recognition.onresult = function (event) {
    let textResult = '';
    for (let i = 0; i < event.results.length; i++) {
      textResult += event.results[i][0].transcript;
    }

    console.log(textResult);
    document.querySelector("#result").innerHTML = textResult;
  };


  function toggleRecognition() {
    const startButton = document.querySelector("#toggleButton");
    if (startButton.textContent === "Start") {
      recognition.start();
      startButton.textContent = "Stop";
      startButton.classList.remove("btn-primary");
      startButton.classList.add("btn-danger");
    } else {
      recognition.stop();
      startButton.textContent = "Start";
      startButton.classList.remove("btn-danger");
      startButton.classList.add("btn-primary");
      document.querySelector("#speechStatus").textContent = "Klik pada icon 'Start' untuk mulai berbicara";
    }
  }
</script>

<script>
  function pageScroll() {
    var objDiv = document.getElementById("scroll");
    objDiv.scrollTop = objDiv.scrollHeight;
  }

  setInterval(pageScroll, 100);
</script>

{% endblock %}